<h1>Lucky Lotto</h1>
<h2>Welcome to the Lottery number generator page</h2>

<p>Here you can find a fun way to play the lottery, by using some "random" number generator to help you come up with your numbers for this weeks'draw!</p>


<h3>Click <%= link_to "Here", milli_maker_lotto_path, class: "button" %> to get your lucky Lotto numbers</h3>

<p>Or</p>

<h3>Click <%= link_to "Here", milli_maker_euro_path, class: "button" %> to get your lucky Euro Million numbers</h3>

