<h1>Lucky Lotto</h1>
<h2>Welcome to the Lottery number generator page!</h2>

<h2>Click <%= link_to "Here", milli_maker_lotto_path, class: "button" %> to get your lucky Lotto numbers</h2>


<h2>Click <%= link_to "Here", milli_maker_euro_path, class: "button" %> to get your lucky Euro Million numbers</h2>

